html {
	scroll-behavior: smooth;
}

.footer h2 {
	text-align: center;
}

/* https://github.com/papercss/papercss/pull/244 */
.collapsible label[for="collapsible1"] > .bar1,
.bar2,
.bar3 {
	height: 0.3rem;
}

#TOC {
	position: inherit !important;
}
#TOC ul > * {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
#TOC li {
	list-style: none;
}
#TOC ul {
	padding-left: 1.3em;
}
#TOC > ul {
	padding-left: 0;
}
#TOC a:not(:hover) {
	text-decoration: none;
}

/* Make the discord logo be kinda the same size as the text. */
.discordLogo {
	display: inline;
	border: 0 !important;
	height: 1rem;
	padding: 0 0.5rem 0 0;
}
