extends layout

block content
	h1 Login
	form(method="POST", action="/login")
		label(for="username") Email
			input#username(type="text", name="username", placeholder="Username")
		label(for="password") Password
			input#password(type="password", name="password", placeholder="Password")
		button(type="submit") Login
		a.paper-btn.btn-secondary(href=discordLink) Log in with discord

	p= status
