extends layout

block title
	- var pageName = "Login";
	- var pageDescription = "A description of how security is implemented on this website.";

block content
	h1 Login
	form(method="POST", action="/login")
		label(for="email") Email
			input#email(type="email", name="username", placeholder="Email")
		label(for="password") Password
			input#password(type="password", name="password", placeholder="Password")
		br
		button(type="submit") Login
		a.paper-btn.btn-secondary(href=discordLink)
			img.discordLogo(src="/cdn/discord.svg")
			| Log in with discord

	p= status
