nav.border.fixed.split-nav
	.nav-brand
		h3
			a(href="#") Tverfaglig ukesoppgave1
	.collapsible
		input#collapsible1(type="checkbox", name="collapsible1")
		label(for="collapsible1")
			.bar1
			.bar2
			.bar3
		.collapsible-body
			ul.inline
				li
					a(href="/docs") Documentation
				li
					if user
						a(href="/logout") Logout
					else 
						a(href="/login") Login
				li
					a(href="#") Github
