extends layout

block content
	h1 Users
	each user in users
		.card(style="width: 20rem")
			.card-header= user.username
			.card-body
				h4.card-title= user.username
				p.card-text= user.email
		br
